// color
$color-white: white;
$color-primary: #f1f1f1;

$color-active: #e79d3c;
$color-notification: #e9304f;
$color-heading2: #333;
$color-product-img: #444;
$color_menu: orangered;
$color-text: #555;
$color-btn: #ffbc00;;
$color-imgheading: #444;
$color-agba1: rgba(216, 216, 216, 0.6);
$color-agba2: rgba(0, 0, 0, 0.7);

// font
$font-primary: "Raleway", sans-serif;

$font-heading: "Cookie", cursive;

$font-heading2: "Lato", sans-serif;