.heading-1,
.heading-2 {
    text-transform: uppercase;
    color: $color-primary;
}

.heading-1 {
    font-size: 8rem;
    font-family: $font-heading;
    line-height: 5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-weight: 500;

    @include responsive(37.5rem) {
        font-size: 6rem;
    }

    &--offer {
        font-family: $font-primary;
        margin-bottom: 6rem;
    }

    &--video {
        font-family: $font-primary;
    }
    
    &__color {
        color: $color-notification;
        line-height: 6rem;
        text-align: center;
        margin-bottom: 6rem;
    }
}


.heading-2 {
    font-size: 2.5rem;
    font-family: $font-primary;
    letter-spacing: 1.6px;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    margin-bottom: 2rem;

    @include responsive(37.5rem) {
        font-size: 2rem;
    }

    &__black {
        color: $color-heading2;
        font-weight: 800;
    }

    &--while {
        color: $color-primary;
    }

    &--presen {
        font-family: $font-heading;
        text-transform: none;
    }

    &__mgb {
        margin-bottom: 6rem;
    }
}