body {
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}

#app {
    display: grid;
    grid-template-columns: [full-start] minmax(5rem, 1fr) [mid-start] repeat(8, minmax(-webkit-min-content, 14.25rem)) [mid-end] minmax(5rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(5rem, 1fr) [mid-start] repeat(8, minmax(min-content, 14.25rem)) [mid-end] minmax(5rem, 1fr) [full-end];
}
